<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">

        {# NAVBAR #}
        {% include 'includes/nav.html' %}

        {# BLOCK CONTENT #}
        {% block content %} {% endblock %}

        {# FOOTER #}
        {% include 'includes/footer.html' %}

    </div>
</body>
</html>
