{% extends 'base.html' %}

{% block title %} Astrum Market - Create Color {% endblock %}

{% block content %}
    <main>
        <div class="content-container animate-slide-up">
            <h1 class="page-title">Create New Color</h1>
            <form id="color-form" method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="form-label">Color Name:</label>
                    <input type="text" id="name" name="name" required class="form-input">
                </div>
                <div class="form-group">
                    <label for="color" class="form-label">Color Hex Code:</label>
                    <input type="color" id="color" name="color" required class="form-input color-picker">
                </div>
                <button type="submit" class="submit-button">Create Color</button>
            </form>
        </div>
    </main>
{% endblock %}

